- if editable?
  .navigation
    %ul
      %li= link_to 'New Victim', new_victim_path

.dashboard
  %h2 Victims
  %ul
    - @victims.each do |victim|
      %li= link_to victim.name, victim_path(victim.to_param)

  %h2 Recent Visits
  %table
    %tr
      %th Victim Name
      %th Visited Timestamp

    - @recent_visits.each do |visit|
      %tr
        %td= link_to visit.victim.name, victim_path(visit.victim.to_param)
        %td= pretty_time visit.created_at