body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #333333; }
  body h1 {
    font-family: Georgia, serif;
    font-size: 24px;
    margin: 10px 0 15px 10px; }
  body h2 {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 18px;
    margin: 8px 0; }
  body h3 {
    margin: 0 0 8px 0; }
  body .hidden {
    display: none; }
  body .clear {
    font-size: 1px;
    line-height: 1px;
    clear: both; }
  body .navigation {
    margin: 0 0 10px 10px; }
    body .navigation table {
      border: 1px solid #ccc;
      margin: 0 0 10px 0; }
      body .navigation table tr td {
        padding: 5px 10px; }
    body .navigation ul li {
      display: inline;
      margin: 0 10px 0 0; }
  body #graphs, body #tables {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px; }
    body #graphs table tr th, body #tables table tr th {
      text-align: left;
      font-weight: bold;
      padding: 0 0 5px 0; }
    body #graphs table tr td, body #tables table tr td {
      padding: 0 20px 5px 0; }
  body .table {
    width: 32%;
    float: left;
    margin: 0 0 10px 0; }
  body .graph {
    width: 90%; }
