body {
  font-family: 'Geneva'; }

.hidden {
  display: none; }

.navigation {
  text-align: center; }
  .navigation ul {
    margin: 20px 0; }
    .navigation ul li {
      display: inline;
      margin: 0 20px; }

#graphs, #tables {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px; }
